<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Lakeside Cafe & Bar</title>
<meta name="description" content="">
<meta name="author" content="Rahul Nagarkoti" />

<link href="/favicon.jpg" rel="icon">
<link href="/favicon.jpg" rel="apple-touch-icon">
<style>
    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Use full viewport height */
        background-color: #f0f0f0; /* Background color */
    }
    
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain; /* Maintain aspect ratio */
    }
</style>
</head>
<body>
    <img src="/ComingSoon.png" alt="Full Screen Image">
</body>
</html>
